<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="head">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Club Social Desportivo Ascensión</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body class="overflow-hidden">
	<!-- Top navigation-->
	<nav class="navbar navbar-expand-lg navbar-light header-navbar py-1">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<div class="sidebar-heading text-white">
					<img class="col-1 m-0 p-0" src="../assets/images/icon-club.png" alt="icon Club Ascencion"/>
				</div>
				<ul class="navbar-nav ms-auto mt-2 mt-lg-0">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-white" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cuenta</a>
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
							<a class="dropdown-item text-secondary" href="#!">Salir</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="d-flex" id="wrapper">
		<!-- Sidebar-->
		<nav class="border-end" id="sidebar-wrapper">
			<h6 class="text-secondary mt-2 ms-1">Menu</h6>
			<ul class="list-group border-top">
				<li><a class="list-group-item list-group-item-action border-0" id="socios"th:href="@{/socios}"><i class="fas fa-address-card aside-icon"></i>Socios</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="creacion" th:href="@{/nuevo-socio}"><i class="fas fa-user-plus aside-icon"></i>Creación</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="cobrar-socio" th:href="@{/cobrar-socio}"><i class="fas fa-coins aside-icon"></i>Cobrar</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="socios-prendientes" th:href="@{/socios-pendientes}"><i class="fas fa-hourglass-half aside-icon"></i>Socios Pendientes</a></li>
				<li><a class="list-group-item list-group-item-action border-0" id="socios-vitalicios" th:href="@{/socios-vitalicios}"><i class="fas fa-infinity aside-icon"></i>Socios Vitalicios</a></li>
			</ul>
		</nav>
		<!-- Page content wrapper-->
		<div class="bg-body-secondary" id="page-content-wrapper">
			<!-- Page content-->
			<div class="container-fluid" layout:fragment="page-content">
				
			</div>
		</div>
	</div>
	<!-- Bootstrap core JS-->
	<script
		th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<!-- Core theme JS-->
	<script src="@{/js/scripts.js}"></script>
		<!-- Font Awesome-->
	<script src="https://kit.fontawesome.com/94b10fad32.js" crossorigin="anonymous"></script>
	<th:block layout:fragment="page-scripts">
	</th:block>
</body>
</html>
